body {
    background: #009688; /* fallback for old browsers */
    font-family: sans-serif;
    margin: 0;
}

#scanner {
    display: flex;
    height: 100%;
    flex-direction: row;
    flex: 1;
    overflow-x: auto;
}

select {
    width: 100%;
    margin-bottom: 10px;
}
